In [1]:
import pandas as pd

In [3]:
atlantic_hurricanes = pd.read_csv("Data/atlantic_hurricanes.csv")
pacific_hurricanes = pd.read_csv("Data/pacific_hurricanes.csv")

In [4]:
# Stack the DataFrames on top of each other
hurricanes_combined = pd.concat([atlantic_hurricanes, pacific_hurricanes], axis=0)
hurricanes_combined

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,20151128,1200,,LO,21.7N,109.0W,35,1002,...,0,0,0,0,0,0,0,0,0,0
26133,EP222015,SANDRA,20151128,1800,,LO,22.4N,108.7W,30,1007,...,0,0,0,0,0,0,0,0,0,0
26134,EP222015,SANDRA,20151129,0,,LO,23.1N,108.3W,30,1008,...,0,0,0,0,0,0,0,0,0,0
26135,EP222015,SANDRA,20151129,600,,LO,23.5N,107.9W,25,1009,...,0,0,0,0,0,0,0,0,0,0
26136,EP222015,SANDRA,20151129,1200,,LO,24.2N,107.7W,20,1010,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#format date
# https://datatofish.com/integers-datetime-pandas-dataframe/
hurricanes_combined['Date'] = pd.to_datetime(hurricanes_combined['Date'], format='%Y%m%d')

In [6]:
#extract year and add as a column
hurricanes_combined['Year'] = hurricanes_combined['Date'].dt.year
hurricanes_combined

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Year
0,AL011851,UNNAMED,1851-06-25,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851
1,AL011851,UNNAMED,1851-06-25,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851
2,AL011851,UNNAMED,1851-06-25,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851
3,AL011851,UNNAMED,1851-06-25,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851
4,AL011851,UNNAMED,1851-06-25,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,2015-11-28,1200,,LO,21.7N,109.0W,35,1002,...,0,0,0,0,0,0,0,0,0,2015
26133,EP222015,SANDRA,2015-11-28,1800,,LO,22.4N,108.7W,30,1007,...,0,0,0,0,0,0,0,0,0,2015
26134,EP222015,SANDRA,2015-11-29,0,,LO,23.1N,108.3W,30,1008,...,0,0,0,0,0,0,0,0,0,2015
26135,EP222015,SANDRA,2015-11-29,600,,LO,23.5N,107.9W,25,1009,...,0,0,0,0,0,0,0,0,0,2015
26136,EP222015,SANDRA,2015-11-29,1200,,LO,24.2N,107.7W,20,1010,...,0,0,0,0,0,0,0,0,0,2015

In [7]:
hurricanes_combined["Count"] = 1
hurricanes_combined

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Year,Count
0,AL011851,UNNAMED,1851-06-25,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,1851,1
1,AL011851,UNNAMED,1851-06-25,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,1851,1
2,AL011851,UNNAMED,1851-06-25,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,1851,1
3,AL011851,UNNAMED,1851-06-25,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,1851,1
4,AL011851,UNNAMED,1851-06-25,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,1851,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,2015-11-28,1200,,LO,21.7N,109.0W,35,1002,...,0,0,0,0,0,0,0,0,2015,1
26133,EP222015,SANDRA,2015-11-28,1800,,LO,22.4N,108.7W,30,1007,...,0,0,0,0,0,0,0,0,2015,1
26134,EP222015,SANDRA,2015-11-29,0,,LO,23.1N,108.3W,30,1008,...,0,0,0,0,0,0,0,0,2015,1
26135,EP222015,SANDRA,2015-11-29,600,,LO,23.5N,107.9W,25,1009,...,0,0,0,0,0,0,0,0,2015,1
26136,EP222015,SANDRA,2015-11-29,1200,,LO,24.2N,107.7W,20,1010,...,0,0,0,0,0,0,0,0,2015,1

In [8]:
hurricanes_combined = hurricanes_combined[['Year', 'Status','Count']]
hurricanes_combined

       Year Status  Count
0      1851     HU      1
1      1851     HU      1
2      1851     HU      1
3      1851     HU      1
4      1851     HU      1
...     ...    ...    ...
26132  2015     LO      1
26133  2015     LO      1
26134  2015     LO      1
26135  2015     LO      1
26136  2015     LO      1

[75242 rows x 3 columns]

In [9]:
years = hurricanes_combined["Year"].unique()
hurricanes = []
tropical_storms = []
tropical_depression = []
for year in years:
    sum_HU = hurricanes_combined.loc[(hurricanes_combined["Status"] == ' HU') & 
                                    (hurricanes_combined["Year"] == year),:]
    hurricanes.append(sum_HU.shape[0])
    sum_TS = hurricanes_combined.loc[(hurricanes_combined["Status"] == ' TS') & 
                                    (hurricanes_combined["Year"] == year),:]
    tropical_storms.append(sum_TS.shape[0])
    sum_TD = hurricanes_combined.loc[(hurricanes_combined["Status"] == ' TD') & 
                                    (hurricanes_combined["Year"] == year),:]
    tropical_depression.append(sum_TD.shape[0])

In [10]:
#zip together above lists
all_ocean_data = list(zip(years, hurricanes, tropical_storms,tropical_depression))
#make a dataframe from zipped lists and rename columns
all_ocean_data = pd.DataFrame(all_ocean_data)
all_ocean_data = all_ocean_data.rename(columns = {0:"Year", 1:"Hurricanes", 2:"Tropical_Storms", 3:"Tropical_Depression"})
# atlantic_ocean_data = atlantic_ocean_data[:62]
# atlantic_ocean_data = atlantic_ocean_data[29:160]
all_ocean_data

     Year  Hurricanes  Tropical_Storms  Tropical_Depression
0    1851          32               66                    0
1    1852          95               39                    0
2    1853          82               18                    0
3    1854          31               29                    0
4    1855          17               18                    0
..    ...         ...              ...                  ...
160  2011         216              372                   94
161  2012         210              468                  125
162  2013          73              356                  136
163  2014         265              381                  128
164  2015         275              338                  163

[165 rows x 4 columns]

In [11]:
all_parameters = pd.read_csv("Data/All_parameters.csv")
all_parameters

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass
0,1880,0.0,3.0,233.0,0.0,0.0,2.785161e+09,-0.1148,-0.20,-0.470009,-158.7,NaN,0.000000,NaN
1,1881,0.0,4.0,239.0,0.0,0.0,1.374792e+09,-0.0628,-0.12,-0.356879,-153.1,NaN,0.220472,NaN
2,1882,0.0,4.0,252.0,0.0,0.0,1.384401e+09,-0.0648,-0.10,-0.372661,-169.9,NaN,-0.440945,NaN
3,1883,0.0,3.0,269.0,0.0,0.0,1.394147e+09,-0.1424,-0.21,-0.448443,-164.6,NaN,-0.232283,NaN
4,1884,0.0,4.0,271.0,0.0,0.0,1.403721e+09,-0.2009,-0.28,-0.589754,-143.7,NaN,0.590551,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.6679,0.65,0.584674,67.7,2.41,8.980315,-27.817
134,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.7408,0.74,0.751255,NaN,2.04,NaN,-28.652
135,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.8998,0.87,0.935577,NaN,2.94,NaN,NaN
136,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.9363,0.99,NaN,NaN,2.86,NaN,NaN
137,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.14,NaN,NaN

In [12]:
gw_data_condensed_hurricanes = pd.merge(all_parameters, all_ocean_data, on = "Year", how = "inner")
gw_data_condensed_hurricanes = gw_data_condensed_hurricanes
gw_data_condensed_hurricanes

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass,Hurricanes,Tropical_Storms,Tropical_Depression
0,1880,0.0,3.0,233.0,0.0,0.0,2.785161e+09,-0.1148,-0.20,-0.470009,-158.7,NaN,0.000000,NaN,146,135,6
1,1881,0.0,4.0,239.0,0.0,0.0,1.374792e+09,-0.0628,-0.12,-0.356879,-153.1,NaN,0.220472,NaN,62,91,7
2,1882,0.0,4.0,252.0,0.0,0.0,1.384401e+09,-0.0648,-0.10,-0.372661,-169.9,NaN,-0.440945,NaN,74,65,2
3,1883,0.0,3.0,269.0,0.0,0.0,1.394147e+09,-0.1424,-0.21,-0.448443,-164.6,NaN,-0.232283,NaN,83,32,2
4,1884,0.0,4.0,271.0,0.0,0.0,1.403721e+09,-0.2009,-0.28,-0.589754,-143.7,NaN,0.590551,NaN,90,54,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2011,NaN,NaN,NaN,NaN,NaN,NaN,0.5788,0.60,0.428674,67.3,1.70,8.964567,-26.294,216,372,94
132,2012,NaN,NaN,NaN,NaN,NaN,NaN,0.6240,0.63,0.528696,76.1,2.39,9.326772,-26.930,210,468,125
133,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.6679,0.65,0.584674,67.7,2.41,8.980315,-27.817,73,356,136
134,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.7408,0.74,0.751255,NaN,2.04,NaN,-28.652,265,381,128
135,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.8998,0.87,0.935577,NaN,2.94,NaN,NaN,275,338,163

In [13]:
gw_data_condensed_hurricanes.columns

Index(['Year', 'Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'population', 'GCAG_TEMP', 'GIS_TEMP',
       'Sea_anomaly_temp', 'GMSL', 'CO2_Increase', 'CSIRO Adjusted Sea Level',
       'Glacier_mass', 'Hurricanes', 'Tropical_Storms', 'Tropical_Depression'],
      dtype='object')

In [112]:
gw_data_condensed_hurricanes_reduced_dates = gw_data_condensed_hurricanes[:130]

In [169]:
#tropical_depression analysis
X=gw_data_condensed_hurricanes_reduced_dates[['Gas Fuel', 'Liquid Fuel',  'Cement',
       'population',  'GIS_TEMP',
       'Sea_anomaly_temp',  'CSIRO Adjusted Sea Level'
       ]]
y=gw_data_condensed_hurricanes_reduced_dates.Tropical_Depression

In [170]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=32)

In [171]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [172]:
#modeling Tropical Depressions
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8082821747276228
Testing Score: 0.8552568949832986

In [226]:
#hurricane analysis
X_hurr=gw_data_condensed_hurricanes_reduced_dates[[ 'Liquid Fuel',  'Gas Fuel',
       'Gas Flaring', 'GIS_TEMP',
       'Sea_anomaly_temp', 'GMSL',  'CSIRO Adjusted Sea Level'
       ]]
y_hurr=gw_data_condensed_hurricanes_reduced_dates.Hurricanes

In [227]:
X_train_hurr, X_test_hurr, y_train_hurr, y_test_hurr = train_test_split(X_hurr, y_hurr, random_state=12)

In [228]:
model_hurr = LinearRegression()

In [229]:
#modeling hurricanes
model_hurr.fit(X_train_hurr, y_train_hurr)
training_score_hurr = model_hurr.score(X_train_hurr, y_train_hurr)
testing_score_hurr = model_hurr.score(X_test_hurr, y_test_hurr)

print(f"Training Score: {training_score_hurr}")
print(f"Testing Score: {testing_score_hurr}")

Training Score: 0.5200181020828281
Testing Score: 0.42080586186723024