In [12]:
import pandas as pd

In [13]:
global_warming_parameters = pd.read_csv("Data/All_parameters.csv")
global_warming_parameters.tail(20)

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass
118,1998,1243.0,2766.0,2391.0,209.0,35.0,1.795439e+10,0.6344,0.64,0.532724,10.7,2.82,6.665354,-17.310
119,1999,1270.0,2737.0,2352.0,217.0,33.0,1.819272e+10,0.4438,0.42,0.169861,19.2,1.37,7.011811,-17.697
120,2000,1288.0,2838.0,2367.0,226.0,45.0,1.843048e+10,0.4262,0.42,0.232502,20.5,1.23,7.062992,-17.727
121,2001,1312.0,2840.0,2492.0,237.0,46.0,1.866788e+10,0.5473,0.55,0.404219,26.0,1.82,7.287402,-18.032
122,2002,1344.0,2831.0,2521.0,252.0,48.0,1.890531e+10,0.6023,0.63,0.467141,28.4,2.36,7.381890,-18.726
123,2003,1391.0,2959.0,2743.0,276.0,48.0,1.914355e+10,0.6134,0.62,0.525080,37.6,2.29,7.759843,-19.984
124,2004,1437.0,3053.0,2967.0,298.0,53.0,1.938348e+10,0.5783,0.55,0.494636,37.2,1.57,7.740157,-20.703
125,2005,1480.0,3076.0,3157.0,320.0,60.0,1.962572e+10,0.6585,0.69,0.532787,37.3,2.43,7.744094,-21.405
126,2006,1525.0,3089.0,3339.0,356.0,61.0,1.987055e+10,0.6125,0.63,0.511456,41.6,1.75,7.917323,-22.595
127,2007,1572.0,3081.0,3464.0,382.0,68.0,2.011784e+10,0.6100,0.66,0.384604,43.5,2.09,7.996063,-23.255
128,2008,1631.0,3122.0,3571.0,388.0,71.0,2.036727e+10,0.5419,0.54,0.367312,52.2,1.79,8.350394,-23.776
129,2009,1585.0,3056.0,3620.0,413.0,66.0,2.061831e+10,0.6367,0.64,0.589442,58.0,1.61,8.586614,-24.459
130,2010,1702.0,3114.0,3842.0,450.0,59.0,2.087047e+10,0.7014,0.71,0.612718,65.7,2.43,8.901575,-25.158
131,2011,NaN,NaN,NaN,NaN,NaN,NaN,0.5788,0.60,0.428674,67.3,1.70,8.964567,-26.294
132,2012,NaN,NaN,NaN,NaN,NaN,NaN,0.6240,0.63,0.528696,76.1,2.39,9.326772,-26.930
133,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.6679,0.65,0.584674,67.7,2.41,8.980315,-27.817
134,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.7408,0.74,0.751255,NaN,2.04,NaN,-28.652
135,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.8998,0.87,0.935577,NaN,2.94,NaN,NaN
136,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.9363,0.99,NaN,NaN,2.86,NaN,NaN
137,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.14,NaN,NaN

In [14]:
global_warming_parameters.columns

Index(['Year', 'Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'population', 'GCAG_TEMP', 'GIS_TEMP',
       'Sea_anomaly_temp', 'GMSL', 'CO2_Increase', 'CSIRO Adjusted Sea Level',
       'Glacier_mass'],
      dtype='object')

In [15]:
#showing rows with all data available
global_warming_parameters_reduced = global_warming_parameters[79:131]

In [16]:
#predicting sea temp
X_sea_temp=global_warming_parameters_reduced[['GIS_TEMP', 'population','Glacier_mass',
         'CSIRO Adjusted Sea Level']]
y_sea_temp=global_warming_parameters_reduced.Sea_anomaly_temp

In [17]:
from sklearn.model_selection import train_test_split
X_train_sea, X_test_sea, y_train_sea, y_test_sea = train_test_split(X_sea_temp, y_sea_temp, random_state=42)

In [18]:
from sklearn.linear_model import LinearRegression
model_sea = LinearRegression()

In [19]:
#modeling sea temps
model_sea.fit(X_train_sea, y_train_sea)
training_score_sea = model_sea.score(X_train_sea, y_train_sea)
testing_score_sea = model_sea.score(X_test_sea, y_test_sea)

print(f"Training Score: {training_score_sea}")
print(f"Testing Score: {testing_score_sea}")

Training Score: 0.9526554397905521
Testing Score: 0.9735336573834894

In [20]:
#get model coefficients

model_sea.coef_
model_sea.intercept_

-0.39503198277536045

In [21]:
projected_values = pd.read_csv("Data/Forecasted_global_warming_values_for_models.csv")
projected_values

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass
0,2011,1676.152632,3214.210526,3609.568421,418.336842,66.994737,2.108937e+10,0.707542,0.725947,0.605683,60.114737,2.293579,8.671343,-25.111584
1,2012,1708.262406,3250.635338,3688.622556,432.830827,68.818045,2.133100e+10,0.726380,0.746466,0.629196,63.290902,2.345872,8.800222,-25.705940
2,2013,1740.372180,3287.060150,3767.676692,447.324812,70.641353,2.157264e+10,0.745219,0.766985,0.652708,66.467068,2.398165,8.929101,-26.300295
3,2014,1772.481955,3323.484962,3846.730827,461.818797,72.464662,2.181427e+10,0.764058,0.787504,0.676221,69.643233,2.450459,9.057981,-26.894651
4,2015,1804.591729,3359.909774,3925.784962,476.312782,74.287970,2.205590e+10,0.782896,0.808023,0.699733,72.819398,2.502752,9.186860,-27.489007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2197,7648.570677,9989.225564,18313.637594,3114.218045,406.130075,6.603324e+10,4.211544,4.542444,4.978997,650.881504,12.020120,32.642890,-135.661733
187,2198,7680.680451,10025.650376,18392.691729,3128.712030,407.953383,6.627487e+10,4.230383,4.562962,5.002510,654.057669,12.072414,32.771769,-136.256089
188,2199,7712.790226,10062.075188,18471.745865,3143.206015,409.776692,6.651651e+10,4.249221,4.583481,5.026022,657.233835,12.124707,32.900648,-136.850444
189,2200,7744.900000,10098.500000,18550.800000,3157.700000,411.600000,6.675814e+10,4.268060,4.604000,5.049534,660.410000,12.177000,33.029528,-137.444800
190,2201,7777.009774,10134.924812,18629.854135,3172.193985,413.423308,6.699977e+10,4.286899,4.624519,5.073047,663.586165,12.229293,33.158407,-138.039156

In [22]:
projected_sea_temps = []
for i in range(len(projected_values["Year"])):
    sea_tmp = ((model_sea.coef_[0])*(projected_values["GIS_TEMP"][i]) + (model_sea.coef_[1])*(projected_values["population"][i])\
    + (model_sea.coef_[2])*(projected_values["Glacier_mass"][i]) + (model_sea.coef_[3])*(projected_values["CSIRO Adjusted Sea Level"][i]))\
    + model_sea.intercept_
    projected_sea_temps.append(sea_tmp)

projected_sea_temps

[0.5805327107430737,
 0.6019455722433609,
 0.6233584337436441,
 0.6447712952439174,
 0.666184156744201,
 0.6875970182444845,
 0.7090098797447612,
 0.7304227412450449,
 0.7518356027453285,
 0.7732484642456029,
 0.7946613257458849,
 0.8160741872461686,
 0.8374870487464464,
 0.8588999102467291,
 0.8803127717470126,
 0.9017256332472873,
 0.9231384947475693,
 0.9445513562478535,
 0.965964217748131,
 0.9873770792484132,
 1.0087899407486969,
 1.0302028022489713,
 1.0516156637492546,
 1.0730285252495402,
 1.0944413867498155,
 1.1158542482500988,
 1.1372671097503808,
 1.1586799712506552,
 1.180092832750939,
 1.201505694251225,
 1.2229185557514994,
 1.2443314172517832,
 1.265744278752067,
 1.28715714025234,
 1.308570001752623,
 1.3299828632529103,
 1.3513957247531838,
 1.3728085862534676,
 1.3942214477537505,
 1.4156343092540236,
 1.4370471707543118,
 1.4584600322545946,
 1.4798728937548677,
 1.5012857552551515,
 1.5226986167554348,
 1.5441114782557097,
 1.5655243397559953,
 1.5869372012562786,
 1.608350062756554,
 1.6297629242568359,
 1.6511757857571192,
 1.6725886472573932,
 1.6940015087576792,
 1.715414370257963,
 1.7368272317582374,
 1.7582400932585212,
 1.7796529547588031,
 1.8010658162590811,
 1.822478677759365,
 1.8438915392596478,
 1.8653044007599218,
 1.886717262260206,
 1.9081301237604875,
 1.9295429852607655,
 1.9509558467610497,
 1.9723687082613308,
 1.993781569761607,
 2.0151944312618895,
 2.0366072927621737,
 2.0580201542624503,
 2.0794330157627336,
 2.100845877263017,
 2.1222587387632896,
 2.143671600263574,
 2.1650844617638607,
 2.186497323264134,
 2.207910184764418,
 2.2293230462647013,
 2.2507359077649745,
 2.2721487692652578,
 2.293561630765545,
 2.3149744922658195,
 2.3363873537661024,
 2.3578002152663857,
 2.37921307676666,
 2.4006259382669417,
 2.4220387997672206,
 2.443451661267503,
 2.4648645227677863,
 2.486277384268061,
 2.5076902457683445,
 2.5291031072686314,
 2.550515968768904,
 2.5719288302691883,
 2.593341691769472,
 2.6147545532697447,
 2.63616741477003,
 2.657580276270315,
 2.678993137770588,
 2.7004059992708718,
 2.7218188607711555,
 2.743231722271429,
 2.7646445837717124,
 2.7860574452719997,
 2.8074703067722737,
 2.8288831682725566,
 2.850296029772841,
 2.8717088912731152,
 2.893121752773401,
 2.9145346142736828,
 2.935947475773958,
 2.9573603372742405,
 2.9787731987745243,
 3.0001860602747987,
 3.0215989217750856,
 3.043011783275367,
 3.0644246447756425,
 3.0858375062759262,
 3.107250367776209,
 3.128663229276483,
 3.1500760907767704,
 3.1714889522770524,
 3.192901813777327,
 3.214314675277611,
 3.235727536777892,
 3.257140398278171,
 3.2785532597784535,
 3.2999661212787377,
 3.3213789827790103,
 3.342791844279294,
 3.3642047057795774,
 3.385617567279855,
 3.407030428780139,
 3.4284432902804216,
 3.4498561517806947,
 3.4712690132809794,
 3.4926818747812622,
 3.514094736281539,
 3.5355075977818227,
 3.5569204592821064,
 3.57833332078238,
 3.5997461822826637,
 3.6211590437829506,
 3.642571905283225,
 3.6639847667835075,
 3.685397628283791,
 3.7068104897840644,
 3.728223351284346,
 3.7496362127846354,
 3.77104907428491,
 3.792461935785194,
 3.813874797285474,
 3.835287658785749,
 3.856700520286036,
 3.8781133817863185,
 3.899526243286593,
 3.9209391047868762,
 3.9423519662871587,
 3.963764827787433,
 3.985177689287721,
 4.006590550788003,
 4.028003412288279,
 4.049416273788563,
 4.070829135288846,
 4.092241996789119,
 4.113654858289404,
 4.1350677197896895,
 4.156480581289963,
 4.1778934427902445,
 4.199306304290529,
 4.220719165790806,
 4.242132027291089,
 4.263544888791373,
 4.284957750291646,
 4.306370611791932,
 4.327783473292212,
 4.349196334792492,
 4.370609196292772,
 4.392022057793048,
 4.413434919293333,
 4.434847780793614,
 4.456260642293888,
 4.4776735037941755,
 4.499086365294458,
 4.520499226794732,
 4.541912088295017,
 4.563324949795301,
 4.584737811295576,
 4.60615067279586,
 4.627563534296143,
 4.648976395796418]

In [23]:
#zip together above lists
projected_sea_tmp_info = list(zip(projected_values["Year"],projected_sea_temps, projected_values["Sea_anomaly_temp"]))
#make a dataframe from zipped lists and rename columns
projected_sea_tmp_info = pd.DataFrame(projected_sea_tmp_info)
#rename columns
projected_sea_tmp_info = projected_sea_tmp_info.rename(columns = {0:"Year", 1:"Projected_Sea_tmp", 2:"LinRegress_Sea_tmp"})
projected_sea_tmp_info

     Year  Projected_Sea_tmp  LinRegress_Sea_tmp
0    2011           0.580533            0.605683
1    2012           0.601946            0.629196
2    2013           0.623358            0.652708
3    2014           0.644771            0.676221
4    2015           0.666184            0.699733
..    ...                ...                 ...
186  2197           4.563325            4.978997
187  2198           4.584738            5.002510
188  2199           4.606151            5.026022
189  2200           4.627564            5.049534
190  2201           4.648976            5.073047

[191 rows x 3 columns]

In [25]:
intermediate_df = global_warming_parameters[["Year", "Sea_anomaly_temp"]]
intermediate_df = intermediate_df[:131]
intermediate_df

     Year  Sea_anomaly_temp
0    1880         -0.470009
1    1881         -0.356879
2    1882         -0.372661
3    1883         -0.448443
4    1884         -0.589754
..    ...               ...
126  2006          0.511456
127  2007          0.384604
128  2008          0.367312
129  2009          0.589442
130  2010          0.612718

[131 rows x 2 columns]

In [27]:
intermediate_df = intermediate_df.rename(columns = {"Sea_anomaly_temp":"Projected_Sea_tmp"})
intermediate_df_2 = pd.merge(intermediate_df,global_warming_parameters, on = "Year", how = "inner")
intermediate_df_2= intermediate_df_2[["Year", "Projected_Sea_tmp", "Sea_anomaly_temp"]]
intermediate_df_2 = intermediate_df_2.rename(columns = {"Sea_anomaly_temp":"LinRegress_Sea_tmp"})
intermediate_df_2

     Year  Projected_Sea_tmp  LinRegress_Sea_tmp
0    1880          -0.470009           -0.470009
1    1881          -0.356879           -0.356879
2    1882          -0.372661           -0.372661
3    1883          -0.448443           -0.448443
4    1884          -0.589754           -0.589754
..    ...                ...                 ...
126  2006           0.511456            0.511456
127  2007           0.384604            0.384604
128  2008           0.367312            0.367312
129  2009           0.589442            0.589442
130  2010           0.612718            0.612718

[131 rows x 3 columns]

In [28]:
sea_tmp_projections = pd.concat([intermediate_df_2, projected_sea_tmp_info], axis=0)
sea_tmp_projections

     Year  Projected_Sea_tmp  LinRegress_Sea_tmp
0    1880          -0.470009           -0.470009
1    1881          -0.356879           -0.356879
2    1882          -0.372661           -0.372661
3    1883          -0.448443           -0.448443
4    1884          -0.589754           -0.589754
..    ...                ...                 ...
186  2197           4.563325            4.978997
187  2198           4.584738            5.002510
188  2199           4.606151            5.026022
189  2200           4.627564            5.049534
190  2201           4.648976            5.073047

[322 rows x 3 columns]

In [30]:
year_start = 1870
years_reduce = []
for i in range(33):
    year_start = year_start+10
    years_reduce.append(year_start)
years_reduce

[1880,
 1890,
 1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 1960,
 1970,
 1980,
 1990,
 2000,
 2010,
 2020,
 2030,
 2040,
 2050,
 2060,
 2070,
 2080,
 2090,
 2100,
 2110,
 2120,
 2130,
 2140,
 2150,
 2160,
 2170,
 2180,
 2190,
 2200]

In [34]:
sea_tmp_projections_reduce = sea_tmp_projections.loc[sea_tmp_projections["Year"].isin(years_reduce),:]
sea_tmp_projections_reduce = sea_tmp_projections_reduce.round(2)
sea_tmp_projections_reduce

     Year  Projected_Sea_tmp  LinRegress_Sea_tmp
0    1880              -0.47               -0.47
10   1890              -0.89               -0.89
20   1900              -0.48               -0.48
30   1910              -1.11               -1.11
40   1920              -0.72               -0.72
50   1930              -0.58               -0.58
60   1940              -0.18               -0.18
70   1950              -0.55               -0.55
80   1960              -0.30               -0.30
90   1970              -0.31               -0.31
100  1980               0.08                0.08
110  1990               0.27                0.27
120  2000               0.23                0.23
130  2010               0.61                0.61
9    2020               0.77                0.82
19   2030               0.99                1.05
29   2040               1.20                1.29
39   2050               1.42                1.52
49   2060               1.63                1.76
59   2070               1.84                1.99
69   2080               2.06                2.23
79   2090               2.27                2.46
89   2100               2.49                2.70
99   2110               2.70                2.93
109  2120               2.91                3.17
119  2130               3.13                3.40
129  2140               3.34                3.64
139  2150               3.56                3.87
149  2160               3.77                4.11
159  2170               3.99                4.34
169  2180               4.20                4.58
179  2190               4.41                4.81
189  2200               4.63                5.05

In [33]:
sea_tmp_projections_reduce.to_csv("Data/Projected_Sea_tmp_reduced.csv", index = False)

In [35]:
sea_lvl_df = pd.read_csv("Data/Projected_Sea_lvl_reduced.csv")
sea_lvl_df

    Year  Projected_Sea_Lvl  LinRegress_Sea_Lvl
0   1880               0.00                0.00
1   1890               0.44                0.44
2   1900               1.13                1.13
3   1910               1.27                1.27
4   1920               1.91                1.91
5   1930               2.06                2.06
6   1940               2.62                2.62
7   1950               3.60                3.60
8   1960               4.50                4.50
9   1970               4.68                4.68
10  1980               5.60                5.60
11  1990               6.23                6.23
12  2000               7.06                7.06
13  2010               8.90                8.90
14  2020               9.75                9.83
15  2030              10.98               11.12
16  2040              12.20               12.41
17  2050              13.43               13.70
18  2060              14.65               14.99
19  2070              15.88               16.28
20  2080              17.10               17.56
21  2090              18.33               18.85
22  2100              19.55               20.14
23  2110              20.78               21.43
24  2120              22.00               22.72
25  2130              23.23               24.01
26  2140              24.45               25.30
27  2150              25.68               26.59
28  2160              26.90               27.87
29  2170              28.13               29.16
30  2180              29.36               30.45
31  2190              30.58               31.74
32  2200              31.81               33.03

In [36]:
sea_tmp_lvl_combine = pd.merge(sea_tmp_projections_reduce,sea_lvl_df, on = "Year", how = "inner")
sea_tmp_lvl_combine

,Year,Projected_Sea_tmp,LinRegress_Sea_tmp,Projected_Sea_Lvl,LinRegress_Sea_Lvl
0,1880,-0.47,-0.47,0.00,0.00
1,1890,-0.89,-0.89,0.44,0.44
2,1900,-0.48,-0.48,1.13,1.13
3,1910,-1.11,-1.11,1.27,1.27
4,1920,-0.72,-0.72,1.91,1.91
5,1930,-0.58,-0.58,2.06,2.06
6,1940,-0.18,-0.18,2.62,2.62
7,1950,-0.55,-0.55,3.60,3.60
8,1960,-0.30,-0.30,4.50,4.50
9,1970,-0.31,-0.31,4.68,4.68
10,1980,0.08,0.08,5.60,5.60
11,1990,0.27,0.27,6.23,6.23
12,2000,0.23,0.23,7.06,7.06
13,2010,0.61,0.61,8.90,8.90
14,2020,0.77,0.82,9.75,9.83
15,2030,0.99,1.05,10.98,11.12
16,2040,1.20,1.29,12.20,12.41
17,2050,1.42,1.52,13.43,13.70
18,2060,1.63,1.76,14.65,14.99
19,2070,1.84,1.99,15.88,16.28
20,2080,2.06,2.23,17.10,17.56
21,2090,2.27,2.46,18.33,18.85
22,2100,2.49,2.70,19.55,20.14
23,2110,2.70,2.93,20.78,21.43
24,2120,2.91,3.17,22.00,22.72
25,2130,3.13,3.40,23.23,24.01
26,2140,3.34,3.64,24.45,25.30
27,2150,3.56,3.87,25.68,26.59
28,2160,3.77,4.11,26.90,27.87
29,2170,3.99,4.34,28.13,29.16
30,2180,4.20,4.58,29.36,30.45
31,2190,4.41,4.81,30.58,31.74
32,2200,4.63,5.05,31.81,33.03

In [37]:
sea_tmp_lvl_combine.to_csv("Data/Projected_Sea_tmp_lvl_reduced.csv", index = False)