In [1]:
import requests
import pandas as pd
import json
from config import NOAA_token

In [2]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/stations"
data = {
    "limit": 1000
}
headers = {"token": NOAA_token}

response = requests.get(url, params=data, headers=headers)
response_json = response.json()
stations = pd.json_normalize(response_json["results"])
numStations = response_json["metadata"]["resultset"]["count"]
stations

,elevation,mindate,maxdate,latitude,name,datacoverage,id,elevationUnit,longitude
0,139.0,1948-01-01,2014-01-01,31.57020,"ABBEVILLE, AL US",0.8813,COOP:010008,METERS,-85.24820
1,249.3,1938-01-01,2015-11-01,34.25530,"ADDISON, AL US",0.5059,COOP:010063,METERS,-87.18140
2,302.1,1940-05-01,1962-03-01,34.41667,"ADDISON CENTRAL TOWER, AL US",0.9658,COOP:010071,METERS,-87.31667
3,172.2,1995-04-01,2015-11-01,33.17833,"ALABASTER SHELBY CO AIRPORT, AL US",0.8064,COOP:010116,METERS,-86.78167
4,183.8,1949-01-01,1949-12-01,34.68910,"BELLE MINA 2 N, AL US",1.0000,COOP:010117,METERS,-86.88190
...,...,...,...,...,...,...,...,...,...
995,716.9,1937-07-01,1969-06-01,35.71667,"DEVILS KNOB, AR US",0.9818,COOP:031982,METERS,-93.40000
996,143.3,1959-07-01,2015-11-01,34.12660,"DIERKS, AR US",0.9689,COOP:032015,METERS,-94.01720
997,209.1,1973-05-01,2005-07-01,34.14750,"DIERKS DAM, AR US",0.9844,COOP:032020,METERS,-94.08880
998,39.6,1998-12-01,2000-04-01,35.07361,"DIXIE, AR US",1.0000,COOP:032062,METERS,-91.36667
999,49.7,1931-01-01,2015-11-01,33.88852,"DUMAS, AR US",0.9941,COOP:032148,METERS,-91.53161

In [3]:
for i in range(1, int(numStations/1000)+1):
    currOffset = i * 1000
    url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/stations"
    data = {
        "limit": 1000,
        "offset": currOffset
    }
    headers = {"token": NOAA_token}

    response = requests.get(url, params=data, headers=headers)
    print(currOffset, response)
    response_json = response.json()
    stations2 = pd.json_normalize(response_json["results"])
    stations = stations.append(stations2)

1000 <Response [200]>
2000 <Response [200]>
3000 <Response [200]>
4000 <Response [200]>
5000 <Response [200]>
6000 <Response [200]>
7000 <Response [200]>
8000 <Response [200]>
9000 <Response [200]>
10000 <Response [200]>
11000 <Response [200]>
12000 <Response [200]>
13000 <Response [200]>
14000 <Response [200]>
15000 <Response [200]>
16000 <Response [200]>
17000 <Response [200]>
18000 <Response [200]>
19000 <Response [200]>
20000 <Response [200]>
21000 <Response [200]>
22000 <Response [200]>
23000 <Response [200]>
24000 <Response [200]>
25000 <Response [200]>
26000 <Response [200]>
27000 <Response [200]>
28000 <Response [200]>
29000 <Response [200]>
30000 <Response [200]>
31000 <Response [200]>
32000 <Response [200]>
33000 <Response [200]>
34000 <Response [200]>
35000 <Response [200]>
36000 <Response [200]>
37000 <Response [200]>
38000 <Response [200]>
39000 <Response [200]>
40000 <Response [200]>
41000 <Response [200]>
42000 <Response [200]>
43000 <Response [200]>
44000 <Response [200]>
45000 <Response [200]>
46000 <Response [200]>
47000 <Response [200]>
48000 <Response [200]>
49000 <Response [200]>
50000 <Response [200]>
51000 <Response [200]>
52000 <Response [200]>
53000 <Response [200]>
54000 <Response [200]>
55000 <Response [200]>
56000 <Response [200]>
57000 <Response [200]>
58000 <Response [200]>
59000 <Response [200]>
60000 <Response [200]>
61000 <Response [200]>
62000 <Response [200]>
63000 <Response [200]>
64000 <Response [200]>
65000 <Response [200]>
66000 <Response [200]>
67000 <Response [200]>
68000 <Response [200]>
69000 <Response [200]>
70000 <Response [200]>
71000 <Response [200]>
72000 <Response [200]>
73000 <Response [200]>
74000 <Response [200]>
75000 <Response [200]>
76000 <Response [200]>
77000 <Response [200]>
78000 <Response [200]>
79000 <Response [200]>
80000 <Response [200]>
81000 <Response [200]>
82000 <Response [200]>
83000 <Response [200]>
84000 <Response [200]>
85000 <Response [200]>
86000 <Response [200]>
87000 <Response [200]>
88000 <Response [200]>
89000 <Response [200]>
90000 <Response [200]>
91000 <Response [200]>
92000 <Response [200]>
93000 <Response [200]>
94000 <Response [200]>
95000 <Response [200]>
96000 <Response [200]>
97000 <Response [200]>
98000 <Response [200]>
99000 <Response [200]>
100000 <Response [200]>
101000 <Response [200]>
102000 <Response [200]>
103000 <Response [200]>
104000 <Response [200]>
105000 <Response [200]>
106000 <Response [200]>
107000 <Response [200]>
108000 <Response [200]>
109000 <Response [200]>
110000 <Response [200]>
111000 <Response [200]>
112000 <Response [200]>
113000 <Response [200]>
114000 <Response [200]>
115000 <Response [200]>
116000 <Response [200]>
117000 <Response [200]>
118000 <Response [200]>
119000 <Response [200]>
120000 <Response [200]>
121000 <Response [200]>
122000 <Response [200]>
123000 <Response [200]>
124000 <Response [200]>
125000 <Response [200]>
126000 <Response [200]>
127000 <Response [200]>
128000 <Response [200]>
129000 <Response [200]>
130000 <Response [200]>
131000 <Response [200]>
132000 <Response [200]>
133000 <Response [200]>
134000 <Response [200]>
135000 <Response [200]>
136000 <Response [200]>
137000 <Response [200]>
138000 <Response [200]>
139000 <Response [200]>

In [4]:
stations

,elevation,mindate,maxdate,latitude,name,datacoverage,id,elevationUnit,longitude
0,139.0,1948-01-01,2014-01-01,31.57020,"ABBEVILLE, AL US",0.8813,COOP:010008,METERS,-85.24820
1,249.3,1938-01-01,2015-11-01,34.25530,"ADDISON, AL US",0.5059,COOP:010063,METERS,-87.18140
2,302.1,1940-05-01,1962-03-01,34.41667,"ADDISON CENTRAL TOWER, AL US",0.9658,COOP:010071,METERS,-87.31667
3,172.2,1995-04-01,2015-11-01,33.17833,"ALABASTER SHELBY CO AIRPORT, AL US",0.8064,COOP:010116,METERS,-86.78167
4,183.8,1949-01-01,1949-12-01,34.68910,"BELLE MINA 2 N, AL US",1.0000,COOP:010117,METERS,-86.88190
...,...,...,...,...,...,...,...,...,...
509,25.3,2017-07-27,2020-10-22,60.47310,"CORDOVA 14 ESE, AK US",1.0000,WBAN:96405,METERS,-145.35420
510,78.9,2014-08-28,2020-10-22,64.50150,"RUBY 44 ESE, AK US",1.0000,WBAN:96406,METERS,-154.12970
511,6.7,2015-08-13,2020-10-22,66.56200,"SELAWIK 28 E, AK US",1.0000,WBAN:96407,METERS,-159.00360
512,678.2,2015-08-19,2020-10-22,63.45200,"DENALI 27 N, AK US",1.0000,WBAN:96408,METERS,-150.87470
513,750.1,2017-08-22,2020-10-22,68.64830,"TOOLIK LAKE 5 ENE, AK US",1.0000,WBAN:96409,METERS,-149.39860

In [5]:
stations.to_csv("static/data/NOAA_stations.csv", index=False)

In [6]:
sortStations = stations.sort_values(['mindate'])
sortStations

,elevation,mindate,maxdate,latitude,name,datacoverage,id,elevationUnit,longitude
283,150.0,1763-01-01,2008-12-01,45.47170,"MILAN, IT",0.9997,GHCND:ITE00100554,METERS,9.18920
756,191.0,1775-01-01,2005-04-30,50.08640,"PRAHA KLEMENTINUM, EZ",1.0000,GHCND:EZE00100082,METERS,14.41640
91,977.0,1781-01-01,2020-08-31,47.80170,"HOHENPEISSENBERG, GM",0.9624,GHCND:GM000010962,METERS,11.01170
284,37.0,1797-01-01,2008-12-31,38.11030,"PALERMO, IT",0.8290,GHCND:ITE00105250,METERS,13.35140
279,53.0,1813-01-01,2007-12-31,44.50000,"BOLOGNA, IT",1.0000,GHCND:ITE00100550,METERS,11.34580
...,...,...,...,...,...,...,...,...,...
726,164.6,2020-07-13,2020-10-22,32.80000,"MERIDAN JOE WILLIAMS NOLF, MS US",1.0000,WBAN:53849,METERS,-88.83333
657,198.1,2020-08-03,2020-10-05,41.68333,"WILLOUGHBY, OH US",1.0000,WBAN:04809,METERS,-81.40000
325,637.0,2020-09-08,2020-09-27,43.06666,"KYRGYZSTAN US MIL BISHKEH MANAS, KG",0.2600,WBAN:00472,METERS,74.46666
960,637.0,2020-09-08,2020-09-27,43.06700,"MANAS INTERNATIONAL AIRPORT, KG",0.2600,WBAN:00101,METERS,74.48300
369,911.7,2020-10-15,2020-10-22,39.84000,"ATWOOD RAWLINS CO AIRPORT, KS US",1.0000,WBAN:03043,METERS,-101.04194

In [14]:
stations['mindate'] = pd.to_datetime(stations['mindate'])
stations['maxdate'] = pd.to_datetime(stations['maxdate'])
# mask = (df['birth_date'] > start_date) & (df['birth_date'] <= end_date)
filtStations = stations.loc[(stations["mindate"] <= "1880-01-01") & (stations["maxdate"] >= "2010-01-01")]
# filtStations = stations.loc[(stations["mindate"] <= "1880-01-01")]
filtStations

,elevation,mindate,maxdate,latitude,name,datacoverage,id,elevationUnit,longitude
437,121.9,1873-01-01,2015-11-01,38.59610,"CALISTOGA, CA US",0.8479,COOP:041312,METERS,-122.60130
605,26.5,1858-07-01,2015-11-01,31.32050,"ALEXANDRIA, LA US",0.6697,COOP:160098,METERS,-92.46110
411,190.5,1831-02-01,2015-11-01,42.21230,"BLUE HILL COOP, MA US",0.9797,COOP:190736,METERS,-71.11370
978,445.0,1880-01-01,2015-11-01,40.60920,"CRETE 4 ESE, NE US",0.9718,COOP:252020,METERS,-96.87200
692,222.0,1879-01-01,2020-10-19,36.72000,"TIZI OUZOU, AG",0.5094,GHCND:AGE00147708,METERS,4.05000
...,...,...,...,...,...,...,...,...,...
173,1309.4,1877-07-01,2020-10-21,40.90170,"WINNEMUCCA AIRPORT, NV US",1.0000,GHCND:USW00024128,METERS,-117.80800
494,88.4,1876-01-01,2020-10-21,33.63610,"MONTICELLO MUNICIPAL AIRPORT, AR US",1.0000,GHCND:USW00053919,METERS,-91.75560
736,298.7,1872-10-01,2020-10-21,38.04080,"LEXINGTON BLUEGRASS AIRPORT, KY US",1.0000,GHCND:USW00093820,METERS,-84.60580
739,175.3,1875-05-01,2020-10-21,39.45194,"TERRE HAUTE HULMAN REGIONAL AIRPORT, IN US",1.0000,GHCND:USW00093823,METERS,-87.30889
895,42.7,1869-01-01,2020-10-21,40.77898,"NY CITY CENTRAL PARK, NY US",1.0000,GHCND:USW00094728,METERS,-73.96925

In [27]:
filtStations = filtStations.drop(index=[437,605,411,978])
filtStations

,elevation,mindate,maxdate,latitude,name,datacoverage,id,elevationUnit,longitude
692,222.0,1879-01-01,2020-10-19,36.72000,"TIZI OUZOU, AG",0.5094,GHCND:AGE00147708,METERS,4.05000
700,83.0,1878-01-01,2020-10-19,35.10000,"NEMOURS GHAZAOUET, AG",0.5214,GHCND:AGE00147716,METERS,-1.85000
702,125.0,1880-01-01,2020-10-20,34.85000,"BISKRA, AG",0.7064,GHCND:AGE00147718,METERS,5.72000
767,3.0,1877-01-01,2020-10-22,-28.77690,"GERALDTON TOWN, AS",0.7429,GHCND:ASN00008050,METERS,114.60500
262,3.0,1877-02-01,2020-10-22,-35.02890,"ALBANY, AS",0.9816,GHCND:ASN00009500,METERS,117.88080
...,...,...,...,...,...,...,...,...,...
173,1309.4,1877-07-01,2020-10-21,40.90170,"WINNEMUCCA AIRPORT, NV US",1.0000,GHCND:USW00024128,METERS,-117.80800
494,88.4,1876-01-01,2020-10-21,33.63610,"MONTICELLO MUNICIPAL AIRPORT, AR US",1.0000,GHCND:USW00053919,METERS,-91.75560
736,298.7,1872-10-01,2020-10-21,38.04080,"LEXINGTON BLUEGRASS AIRPORT, KY US",1.0000,GHCND:USW00093820,METERS,-84.60580
739,175.3,1875-05-01,2020-10-21,39.45194,"TERRE HAUTE HULMAN REGIONAL AIRPORT, IN US",1.0000,GHCND:USW00093823,METERS,-87.30889
895,42.7,1869-01-01,2020-10-21,40.77898,"NY CITY CENTRAL PARK, NY US",1.0000,GHCND:USW00094728,METERS,-73.96925

In [28]:
filtStations["id"]

692    GHCND:AGE00147708
700    GHCND:AGE00147716
702    GHCND:AGE00147718
767    GHCND:ASN00008050
262    GHCND:ASN00009500
             ...
173    GHCND:USW00024128
494    GHCND:USW00053919
736    GHCND:USW00093820
739    GHCND:USW00093823
895    GHCND:USW00094728
Name: id, Length: 356, dtype: object

In [29]:
filtStations.to_csv("static/data/NOAA_filtStations.csv", index=False)